/* CS50W Project 0 by Alan Vitums started 2023-1-8                    
 This css file is for the search assigment:             
 https://cs50.harvard.edu/web/2020/projects/0/search/     */

.google_logo{
  position: absolute;
  top: 32%; 
  left: 50%; 
  align-items: center;
  transform: translateY(-50%);
  transform: translateX(-50%); 
  /* background: rgb(255, 255, 255); */
  float:right;
}
 
.adv_search{ 
  font-family: Roboto,arial,sans-serif;
  color: #d93025;
  font-size: 20px;
} 
 
.line_format{
  margin-top: 20px;
  border-bottom: 1px solid #ebebeb;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(235, 235, 235);
 }

.find_page{ 
  vertical-align: bottom;
  display: inline-block;
  font-family: Roboto,arial,sans-serif;
  font-size: 13px;
  color: #333;
  margin: 20px;
  min-width: 167px;
  width: 16%;
  color: #333;
  align-items: center;
 }

.to_do{  
  vertical-align: bottom;
  display: inline-block;
  font-family: Roboto,arial,sans-serif;
  min-width: 200px;
  width: 33%;
  font-size: 13px;
  font-weight: 700;
  color: #777;
  margin: 5px;
  align-items: center;
} 

.rows_format{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  line-height: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 10px;
}

.grid-item {
  /* background-color: #f2f2f2; */
  border: 1px solid #fff;
  padding: 20px;
}

 .column_0{
  display: inline-block;
  min-width: 167px;
  font-family: Roboto,arial,sans-serif;
  width: 16%;
  height: 42px;
  color: #222;
  font-size: 13px;
  line-height: 16px;
  vertical-align: middle;
  margin-left: 20px;
}

.column_1{
  display: inline-block;
  width: 286px;
  vertical-align: middle;
}

.adv_input{
  display: inline-block;
  width: 286px;
  font-family: Roboto,arial,sans-serif;
  border-radius: 1px;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  font-size: 13px;
  height: 25px;
  padding: 1px 8px;
}

.column_2{
  font-family: Roboto,arial,sans-serif;
  display: inline-block;
  width: 32%;
  min-width: 160px;
  margin: 0 0 8px 1%;
  color: #555;
  font-size: 11px;
  padding-left: 5px;
  vertical-align: middle;
  position: relative;
  margin-left: 20px;
}

.center_align{
  text-align: center;
  align-items: center;
}
 
.submit_button{
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: rgb(248, 249, 250);
  border-right-color: rgb(248, 249, 250);
  border-bottom-color: rgb(248, 249, 250);
  border-left-color: rgb(248, 249, 250);
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  border-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  color: #3c4043;
  font-family: Roboto,arial,sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  margin-top: 11px;
  margin-right: 4px;
  margin-bottom: 11px;
  margin-left: 4px;
  padding: 0 16px;
  padding-top: 0px;
  padding-right: 16px;
  padding-bottom: 0px;
  padding-left: 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

 .adv_submit_button{
  line-height:100%;
  height:30px;
  min-width:120px;
  user-select: none;
  line-height: 100%;
  height: 30px;
  box-shadow: none;
  background-color: #4d90fe;
  background-image: -webkit-linear-gradient(top,#4d90fe); 
  min-width: 120px;
  border: 1px solid #3079ed;
  color: #fff;
} 

.search_input:focus {
  
  border: solid 1px gray;
  background-color: initial;
}

.search_input:active{
  border: solid 1px gray;
  background-color: initial;
}


.search_input:hover{
  border: solid 1px gray;
  background-color: initial;
}


.search_input{ 
  background: #fff;
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;

  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(255, 255, 255);
  
  
  
  font-family: Roboto,arial,sans-serif;
  padding: 10px;
  box-sizing: border-box;
  height: 34px;
  font-size: 16px;
  flex: 100%;
  margin: 20px;
  display: flex;
  z-index: 20;
  height: 34px;
  /* background: #fff; */
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  width: 278px;
}



/* body{
  background: rgb(255, 255, 255);
} */

.input_form{
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120vh; 
}

.header_links {
  padding: 16px;
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  font-family: Roboto,arial,sans-serif;
  color: #060606;;
  font-size: 14px;
}

a:link {
  color: #060606;
  text-decoration: none;
}

a:visited {
  color: #060606;
}


/* Things to do

1. fix the search bar
2. create a git hub webpage for it
3. submit the project to CS50
4. create a video for it
5. create a readme file
6. put on git hub as webpages
  


