/* CS50W Project 0 by Alan Vitums started 2023-1-8                    
 This css file is for image search assigment:             
 https://cs50.harvard.edu/web/2020/projects/0/search/     */

.input_form 
{  
    position: absolute;
    top: 50%; 
    left: 50%; 
    align-items: center;
    transform: translateY(-50%);
    transform: translateX(-50%); 
    background: rgb(255, 255, 255);


}

.google_logo

{
  position: absolute;
  top: 32%; 
  left: 50%; 
  align-items: center;
  transform: translateY(-50%);
  transform: translateX(-50%); 
  background: rgb(255, 255, 255);
  float:right;
}

.adv_search

{ 

  font-family: Roboto,arial,sans-serif;
  color: #d93025;
  font-size: 20px;}

.center_align
{
  text-align: center;
  align-items: center;
}


.line_format
{
  margin: 20px;
  border-bottom: 1px solid #ebebeb;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(235, 235, 235);

}

.table_format
{
 
  position: absolute;
  top: 50%; 
  left: 50%; 
  align-items: center;
  transform: translateY(-50%);
  transform: translateX(-50%); 
  background: rgb(255, 255, 255);
  float:right;
/*   display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; */
}

.submit_button
{

  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: rgb(248, 249, 250);
  border-right-color: rgb(248, 249, 250);
  border-bottom-color: rgb(248, 249, 250);
  border-left-color: rgb(248, 249, 250);
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  border-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  color: #3c4043;
  font-family: Roboto,arial,sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  margin-top: 11px;
  margin-right: 4px;
  margin-bottom: 11px;
  margin-left: 4px;
  padding: 0 16px;
  padding-top: 0px;
  padding-right: 16px;
  padding-bottom: 0px;
  padding-left: 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}


.row_format
{
/*   display: flex;
  flex-direction: row;
  justify-content: center; */
  align-items: right;
  flex-wrap: wrap;
}


.search_input
{ 
    display: flex;
    z-index: 3;
    height: 44px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    width: 638px;
    max-width: 584px;
}

body

{
    background: rgb(255, 255, 255);
}

input, button 
{ 
    font-size: 14px;
    font-family: Roboto,arial,sans-serif;
    color: #202124;
}

.header_links {
  padding: 16px;
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  font-family: Roboto,arial,sans-serif;
  color: #060606;;
  font-size: 14px;

}

a:link {
  color: #060606;
  text-decoration: none;
}

a:visited {
  color: #060606;

}