/* CS50W Project 0 by Alan Vitums started 2023-1-8                    
 This css file is for image search assigment:             
 https://cs50.harvard.edu/web/2020/projects/0/search/     */


body {
  
  background: #fff;
  height: 100%;
  margin: 0;
  padding: 0;
  display: block;


}

body, input, button {
 
    font-size: 14px;
    font-family: Roboto,arial,sans-serif;
    color: #202124;
}



element.style {
  background: url(/images/searchbox/desktop_searchbox_sprites318_hr.webp);
}
  
  h1 {
    font-size: 2em;
    font-weight: bold;
    color: #444444;
    margin-top: 0;
  }